# Dépendances essentielles pour Soph_IA (V62)python-dotenv# API Telegrampython-telegram-bot==20.0# HTTP et APIrequestshttpx>=0.27.0   # Important pour éviter le conflit ChromaDBcfficryptography# Manipulation de donnéespydanticdataclasses-jsontyping-extensions# LangChain & RAGlangchain-corelangchain-openailangchain-community# Mise à jour du RAGchromadb==0.5.3   # OK avec httpx>=0.27.0duckdb# Serveuruvicorn# Autre deps utilesalembicpsutilPyYAML